
  <div class="container m-t-5">
    <h1>Título 1</h1>
    <h2>Título 2</h2>
    <h3>Título 3</h3>
    <h4>Título 4</h4>
    <h5>Título 5</h5>
    <h6>Título 6</h6>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel consectetur amet provident doloremque debitis, adipisci ex, ad minima sunt iure nulla minus, mollitia reprehenderit voluptatibus obcaecati natus veritatis earum! Laborum.</p>    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel consectetur amet provident doloremque debitis, adipisci ex, ad minima sunt iure nulla minus, mollitia reprehenderit voluptatibus obcaecati natus veritatis earum! Laborum.</p>    
    <a href="#">Este é um link</a><br>
    <abbr title="Sistema de Design System da Caixa">SIDSC</abbr>
    <address>
      OC Setor Bancario Sul, Q4 - Lote 34 <br>
      20 Andar. - CEP: 70070-140.
    </address>
    <p>A seguir um exemplo de citação:</p>
    <blockquote>
      Este é um exemplo de citação referenciada de outro site.
    </blockquote>
    <cite>
      Nome da obra
    </cite><br>

    <code class="m-t-2">
<pre>.exemplo-de-codigo
{{ '{' }}
  margin-left:auto;
  margin-right:auto;
{{ '}' }}</pre>
    </code>
    <dl class="m-t-4">
      <dt>Título</dt>
      <dd>Descrição</dd>
      <dt>Título</dt>
      <dd>Descrição</dd>
    </dl>
    <p>Este texto foi <del>deletado</del></p>
    <p>Este texto foi <ins>inserido</ins></p>
    <p>Este texto foi <mark>marcado</mark></p>
    <p class="btx-text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="btx-text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="btx-text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga alias mollitia ullam. </p>
    <p class="btx-text-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-underline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="btx-text-line-through">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="btx-text-overline">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-uppercase">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-lowercase">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-indent-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-indent-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-indent-st">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-indent-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-indent-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-overflow" style="width:100px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-line-height-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta optio eum iusto vel quisquam rem necessitatibus quis, autem, ab, pariatur exercitationem ipsa tenetur? Dolore molestiae amet eaque maiores soluta! Obcaecati!</p>
    <p class="btx-text-line-height-st">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta optio eum iusto vel quisquam rem necessitatibus quis, autem, ab, pariatur exercitationem ipsa tenetur? Dolore molestiae amet eaque maiores soluta! Obcaecati! </p>
    <p class="btx-text-line-height-lg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta optio eum iusto vel quisquam rem necessitatibus quis, autem, ab, pariatur exercitationem ipsa tenetur? Dolore molestiae amet eaque maiores soluta! Obcaecati!</p>
    <p class="btx-text-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-book">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-heavy">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p class="btx-text-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p *ngFor="let font of fonts" class="btx-text-size-{{font}}">Tamanho {{font}}</p>
  </div>