<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Cores</h1>
        <h3>Sólidas</h3>
        <h4>Brand Colors</h4>
        
        <h5 class="btx-bg-azu-s  btx-tx-gel-l3">Azul Caixa</h5>
        <p class="btx-bg-azu-l1">Azul Caixa Lighter 1</p>
        <p class="btx-bg-azu-l2">Azul Caixa Lighter 2</p>
        <p class="btx-bg-azu-l3">Azul Caixa Lighter 3</p>
        <p class="btx-bg-azu-d1">Azul Caixa Darker 1</p>
        <p class="btx-bg-azu-d2">Azul Caixa Darker 2</p>
        <p class="btx-bg-azu-d3">Azul Caixa Darker 3</p>
        
        <h5 class="btx-bg-lar-s  btx-tx-gel-l3">Laranja Caixa</h5>
        <p class="btx-bg-lar-l1">Laranja Lighter 1</p>
        <p class="btx-bg-lar-l2">Laranja Lighter 2</p>
        <p class="btx-bg-lar-l3">Laranja Lighter 3</p>
        <p class="btx-bg-lar-d1">Laranja Darker 1</p>
        <p class="btx-bg-lar-d2">Laranja Darker 2</p>
        <p class="btx-bg-lar-d3">Laranja Darker 3</p>
        
        <h4>Paleta Fixa</h4>
        <h5 class="btx-bg-gel-s ">Gelo</h5>
        <p class="btx-bg-gel-l1 btx-tx-gra-l3">Gelo Lighter 1</p>
        <p class="btx-bg-gel-l2 btx-tx-gra-l3">Gelo Lighter 2</p>
        <p class="btx-bg-gel-l3 btx-tx-gra-l3">Gelo Lighter 3</p>
        <p class="btx-bg-gel-d1">Gelo Darker 1</p>
        <p class="btx-bg-gel-d2">Gelo Darker 2</p>
        <p class="btx-bg-gel-d3">Gelo Darker 3</p>
  
        <h5 class="btx-bg-gra-s  btx-tx-gel-l3">Grafite</h5>
        <p class="btx-bg-gra-l1">Grafite Lighter 1</p>
        <p class="btx-bg-gra-l2">Grafite Lighter 2</p>
        <p class="btx-bg-gra-l3">Grafite Lighter 3</p>
        <p class="btx-bg-gra-d1">Grafite Darker 1</p>
        <p class="btx-bg-gra-d2">Grafite Darker 2</p>
        <p class="btx-bg-gra-d3">Grafite Darker 3</p>
        
        <h5 class="btx-bg-tur-s ">Turquesa</h5>
        <p class="btx-bg-tur-l1">Turquesa Lighter 1</p>
        <p class="btx-bg-tur-l2">Turquesa Lighter 2</p>
        <p class="btx-bg-tur-l3">Turquesa Lighter 3</p>
        <p class="btx-bg-tur-d1">Turquesa Darker 1</p>
        <p class="btx-bg-tur-d2">Turquesa Darker 2</p>
        <p class="btx-bg-tur-d3">Turquesa Darker 3</p>
  
        <h4>Cores de Fundo</h4>
        <h5 class="btx-bg-por btx-tx-gel-s">Porcelana</h5>
        <h5 class="btx-bg-pol btx-tx-gel-s">Polar</h5>
  
        <h4>Paleta Flexível</h4>
        <h5 class="btx-bg-ceu-s ">Céu</h5>
        <p class="btx-bg-ceu-l1">Céu Lighter 1</p>
        <p class="btx-bg-ceu-l2">Céu Lighter 2</p>
        <p class="btx-bg-ceu-l3">Céu Lighter 3</p>
        <p class="btx-bg-ceu-d1">Céu Darker 1</p>
        <p class="btx-bg-ceu-d2">Céu Darker 2</p>
        <p class="btx-bg-ceu-d3">Céu Darker 3</p>
  
        <h5 class="btx-bg-uva-s ">Uva</h5>
        <p class="btx-bg-uva-l1">Uva Lighter 1</p>
        <p class="btx-bg-uva-l2">Uva Lighter 2</p>
        <p class="btx-bg-uva-l3">Uva Lighter 3</p>
        <p class="btx-bg-uva-d1">Uva Darker 1</p>
        <p class="btx-bg-uva-d2">Uva Darker 2</p>
        <p class="btx-bg-uva-d3">Uva Darker 3</p>
  
        <h5 class="btx-bg-lim-s ">Limão</h5>
        <p class="btx-bg-lim-l1">Limão Lighter 1</p>
        <p class="btx-bg-lim-l2">Limão Lighter 2</p>
        <p class="btx-bg-lim-l3">Limão Lighter 3</p>
        <p class="btx-bg-lim-d1">Limão Darker 1</p>
        <p class="btx-bg-lim-d2">Limão Darker 2</p>
        <p class="btx-bg-lim-d3">Limão Darker 3</p>
  
        <h5 class="btx-bg-tan-s">Tangerina</h5>
        <p class="btx-bg-tan-l1">Tangerina Lighter 1</p>
        <p class="btx-bg-tan-l2">Tangerina Lighter 2</p>
        <p class="btx-bg-tan-l3">Tangerina Lighter 3</p>
        <p class="btx-bg-tan-d1">Tangerina Darker 1</p>
        <p class="btx-bg-tan-d2">Tangerina Darker 2</p>
        <p class="btx-bg-tan-d3">Tangerina Darker 3</p>
  
        <h5 class="btx-bg-goi-s">Goiaba</h5>
        <p class="btx-bg-goi-l1">Goiaba Lighter 1</p>
        <p class="btx-bg-goi-l2">Goiaba Lighter 2</p>
        <p class="btx-bg-goi-l3">Goiaba Lighter 3</p>
        <p class="btx-bg-goi-d1">Goiaba Darker 1</p>
        <p class="btx-bg-goi-d2">Goiaba Darker 2</p>
        <p class="btx-bg-goi-d3">Goiaba Darker 3</p>
  
        <h3>Paleta Semantica</h3>


        <h5 class="btx-bg-suc-s">Success</h5>
        <p class="btx-bg-suc-l1">Success Lighter 1</p>
        <p class="btx-bg-suc-l2">Success Lighter 2</p>
        <p class="btx-bg-suc-l3">Success Lighter 3</p>
        <p class="btx-bg-suc-d1">Success Darker 1</p>
        <p class="btx-bg-suc-d2">Success Darker 2</p>
        <p class="btx-bg-suc-d3">Success Darker 3</p>

        <h5 class="btx-bg-war-s">Warning</h5>
        <p class="btx-bg-war-l1">Warning Lighter 1</p>
        <p class="btx-bg-war-l2">Warning Lighter 2</p>
        <p class="btx-bg-war-l3">Warning Lighter 3</p>
        <p class="btx-bg-war-d1">Warning Darker 1</p>
        <p class="btx-bg-war-d2">Warning Darker 2</p>
        <p class="btx-bg-war-d3">Warning Darker 3</p>

        <h5 class="btx-bg-inf-s">Info</h5>
        <p class="btx-bg-inf-l1">Info Lighter 1</p>
        <p class="btx-bg-inf-l2">Info Lighter 2</p>
        <p class="btx-bg-inf-l3">Info Lighter 3</p>
        <p class="btx-bg-inf-d1">Info Darker 1</p>
        <p class="btx-bg-inf-d2">Info Darker 2</p>
        <p class="btx-bg-inf-d3">Info Darker 3</p>

        <h5 class="btx-bg-dan-s">Danger </h5>
        <p class="btx-bg-dan-l1">Danger Lighter 1</p>
        <p class="btx-bg-dan-l2">Danger Lighter 2</p>
        <p class="btx-bg-dan-l3">Danger Lighter 3</p>
        <p class="btx-bg-dan-d1">Danger Darker 1</p>
        <p class="btx-bg-dan-d2">Danger Darker 2</p>
        <p class="btx-bg-dan-d3">Danger Darker 13</p>
  
        <h3>Gradients</h3>
        <h5 class="btx-bg-gr-oce btx-tx-gel-l3">Gradiente Oceano Caixa</h5>
        <h5 class="btx-bg-gr-ceu btx-tx-gel-l3">Gradiente Céu</h5>
        <h5 class="btx-bg-gr-uva btx-tx-gel-l3">Gradient Uva</h5>
        <h5 class="btx-bg-gr-lim btx-tx-gel-l3">Gradient Limão</h5>
        <h5 class="btx-bg-gr-tan btx-tx-gel-l3">Gradient Tangerina</h5>
        <h5 class="btx-bg-gr-goi btx-tx-gel-l3">Gradient Goiaba</h5>
        <h5 class="btx-bg-gr-agu btx-tx-gel-l3">Gradient Água</h5>
        <h5 class="btx-bg-gr-pri btx-tx-gel-l3">Gradient Primavera</h5>
        <h5 class="btx-bg-gr-inv btx-tx-gel-l3">Gradient Inverno</h5>
        <h5 class="btx-bg-gr-ver btx-tx-gel-l3">Gradient Verão</h5>
        <h5 class="btx-bg-gr-out btx-tx-gel-l3">Gradient Outono</h5>
      </div>
      <div class="col-md-6" style="margin-top: 88px;">
        <h3 class="">Cores de Texto</h3>
        <h4>Brand Colors</h4>
        
        <h5 class="btx-tx-azu-s ">Azul Caixa</h5>
        <p class="btx-tx-azu-l1">Azul Caixa Lighter 1</p>
        <p class="btx-tx-azu-l2">Azul Caixa Lighter 2</p>
        <p class="btx-tx-azu-l3">Azul Caixa Lighter 3</p>
        <p class="btx-tx-azu-d1">Azul Caixa Darker 1</p>
        <p class="btx-tx-azu-d2">Azul Caixa Darker 2</p>
        <p class="btx-tx-azu-d3">Azul Caixa Darker 3</p>
        
        <h5 class="btx-tx-lar-s  ">Laranja Caixa</h5>
        <p class="btx-tx-lar-l1">Laranja Lighter 1</p>
        <p class="btx-tx-lar-l2">Laranja Lighter 2</p>
        <p class="btx-tx-lar-l3">Laranja Lighter 3</p>
        <p class="btx-tx-lar-d1">Laranja Darker 1</p>
        <p class="btx-tx-lar-d2">Laranja Darker 2</p>
        <p class="btx-tx-lar-d3">Laranja Darker 3</p>
        
        <h4>Paleta Fixa</h4>
        <h5 class="btx-tx-gel-s ">Gelo</h5>
        <p class="btx-tx-gel-l1 btx-tx-gra-l3">Gelo Lighter 1</p>
        <p class="btx-tx-gel-l2 btx-tx-gra-l3">Gelo Lighter 2</p>
        <p class="btx-tx-gel-l3 btx-tx-gra-l3">Gelo Lighter 3</p>
        <p class="btx-tx-gel-d1">Gelo Darker 1</p>
        <p class="btx-tx-gel-d2">Gelo Darker 2</p>
        <p class="btx-tx-gel-d3">Gelo Darker 3</p>
  
        <h5 class="btx-tx-gra-s ">Grafite</h5>
        <p class="btx-tx-gra-l1">Grafite Lighter 1</p>
        <p class="btx-tx-gra-l2">Grafite Lighter 2</p>
        <p class="btx-tx-gra-l3">Grafite Lighter 3</p>
        <p class="btx-tx-gra-d1">Grafite Darker 1</p>
        <p class="btx-tx-gra-d2">Grafite Darker 2</p>
        <p class="btx-tx-gra-d3">Grafite Darker 3</p>
        
        <h5 class="btx-tx-tur-s">Turquesa</h5>
        <p class="btx-tx-tur-l1">Turquesa Lighter 1</p>
        <p class="btx-tx-tur-l2">Turquesa Lighter 2</p>
        <p class="btx-tx-tur-l3">Turquesa Lighter 3</p>
        <p class="btx-tx-tur-d1">Turquesa Darker 1</p>
        <p class="btx-tx-tur-d2">Turquesa Darker 2</p>
        <p class="btx-tx-tur-d3">Turquesa Darker 3</p>
  
        <h4 style="margin-top: 220px;">Paleta Flexível</h4>
        <h5 class="btx-tx-ceu-s ">Céu</h5>
        <p class="btx-tx-ceu-l1">Céu Lighter 1</p>
        <p class="btx-tx-ceu-l2">Céu Lighter 2</p>
        <p class="btx-tx-ceu-l3">Céu Lighter 3</p>
        <p class="btx-tx-ceu-d1">Céu Darker 1</p>
        <p class="btx-tx-ceu-d2">Céu Darker 2</p>
        <p class="btx-tx-ceu-d3">Céu Darker 3</p>
  
        <h5 class="btx-tx-uva-s ">Uva</h5>
        <p class="btx-tx-uva-l1">Uva Lighter 1</p>
        <p class="btx-tx-uva-l2">Uva Lighter 2</p>
        <p class="btx-tx-uva-l3">Uva Lighter 3</p>
        <p class="btx-tx-uva-d1">Uva Darker 1</p>
        <p class="btx-tx-uva-d2">Uva Darker 2</p>
        <p class="btx-tx-uva-d3">Uva Darker 3</p>
  
        <h5 class="btx-tx-lim-s ">Limão</h5>
        <p class="btx-tx-lim-l1">Limão Lighter 1</p>
        <p class="btx-tx-lim-l2">Limão Lighter 2</p>
        <p class="btx-tx-lim-l3">Limão Lighter 3</p>
        <p class="btx-tx-lim-d1">Limão Darker 1</p>
        <p class="btx-tx-lim-d2">Limão Darker 2</p>
        <p class="btx-tx-lim-d3">Limão Darker 3</p>
  
        <h5 class="btx-tx-tan-s">Tangerina</h5>
        <p class="btx-tx-tan-l1">Tangerina Lighter 1</p>
        <p class="btx-tx-tan-l2">Tangerina Lighter 2</p>
        <p class="btx-tx-tan-l3">Tangerina Lighter 3</p>
        <p class="btx-tx-tan-d1">Tangerina Darker 1</p>
        <p class="btx-tx-tan-d2">Tangerina Darker 2</p>
        <p class="btx-tx-tan-d3">Tangerina Darker 3</p>
  
        <h5 class="btx-tx-goi-s">Goiaba</h5>
        <p class="btx-tx-goi-l1">Goiaba Lighter 1</p>
        <p class="btx-tx-goi-l2">Goiaba Lighter 2</p>
        <p class="btx-tx-goi-l3">Goiaba Lighter 3</p>
        <p class="btx-tx-goi-d1">Goiaba Darker 1</p>
        <p class="btx-tx-goi-d2">Goiaba Darker 2</p>
        <p class="btx-tx-goi-d3">Goiaba Darker 3</p>
      </div>
    </div>
  </div>